You will use the values of what you find in this assignment to answer questions in the quiz that follows. You may want to open this notebook to be displayed side-by-side on screen with this next quiz.

1. Write a function that inputs an integers and returns the negative

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Write your function here
def neg_int(x):
    
    """
    Input integer
    Return the negative
    """
    
    return -x

In [3]:
# Test your function with input x
x = 4
neg_int(x)

-4

2. Write a function that inputs a list of integers and returns the minimum value

In [4]:
# Write your function here
def int_min(lst):
    
    """
    Input integer
    Return the minimum value of a list
    """
    
    current_min = lst[0]
    
    for value in lst[1:]:
        if value < current_min:
            current_min = value
    return current_min

In [5]:
# Test your function with input lst
lst = [-3, 0, 2, 100, -1, 2]

int_min(lst)

-3

#### Challenge problem:  
Write a function that take in four arguments: lst1, lst2, str1, str2, and returns a pandas DataFrame that has the first column labeled str1 and the second column labaled str2, that have values lst1 and lst2 scaled to be between 0 and 1.

For example
```
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

my_function(lst1, lst2, str1, str2)
``` 
should return a DataFrame that looks like:



|  <i></i> | one | two |
| --- | --- | --- |
| 0 | 0 | 0 |
| 1 | .5 | .666 |
| 2 | 1 | 1 |

In [6]:
lst1 = [5, 2, 3]
minimo = [min(lst1)-min(lst1)]
maximo = [max(lst1)/max(lst1)]
medio = lst1 > minimo
medio

True

In [7]:
'''
def scale(lst):
    for i in lst:
        lst = [i - np.min(lst) for i in lst]
        newlst = [i / np.max(lst) for i in lst]
    return newlst
'''
def scale_0_1_lst(lst1, lst2):
    
    """
    Create a DataFrame from 2 lists scaling between 0 and 1
    
    First subtract all the list from the minimum value of the list to convert the minimum into 0.
    Then divide all the list between the maximum value of the list to convert the maximum into 1
    and to normalize the rest of numbers and scale them between 0-1
    """
    for i in lst1:
        lst1 = [i - np.min(lst1) for i in lst1]
        newlst1 = [i / np.max(lst1) for i in lst1]
        
        lst2 = [i - np.min(lst2) for i in lst2]
        newlst2 = [i / np.max(lst2) for i in lst2]
        
        
    return pd.DataFrame({"List 1":newlst1, "List 2":newlst2})

In [8]:
lst1 = [6, 2, 3,5,89,45,7,8]
lst2 = [2, 20, 5,4,6,9,7,1]

str1 = 'one'
str2 = 'two'

scale_0_1_lst(lst1, lst2)

     List 1    List 2
0  0.045977  0.052632
1  0.000000  1.000000
2  0.011494  0.210526
3  0.034483  0.157895
4  1.000000  0.263158
5  0.494253  0.421053
6  0.057471  0.315789
7  0.068966  0.000000

In [9]:
lst1 = [1, 2, 3]
lst2 = [2, 4, 5]
str1 = 'one'
str2 = 'two'

df = pd.DataFrame({str1:lst1, str2:lst2})
df/100

    one   two
0  0.01  0.02
1  0.02  0.04
2  0.03  0.05

In [24]:
def my_function(lst1, lst2, str1, str2):
    
    """
    
    """
    
    return pd.DataFrame({str1:lst1, str2:lst2})

In [26]:
# test your challenge problem function
import numpy as np

lst1 = np.random.randint(-234, 938, 100)
lst2 = np.random.randint(-522, 123, 100)
str1 = 'one'
str2 = 'alpha'
my_function(lst1, lst2, str1, str2).head()

   one  alpha
0   38   -347
1 -145   -302
2   76   -315
3  -16   -438
4  933   -256

In [27]:
help(np.sort)

Help on function sort in module numpy.core.fromnumeric:

sort(a, axis=-1, kind='quicksort', order=None)
    Return a sorted copy of an array.

    Parameters
    ----------
    a : array_like
        Array to be sorted.
    axis : int or None, optional
        Axis along which to sort. If None, the array is flattened before
        sorting. The default is -1, which sorts along the last axis.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, optional
        Sorting algorithm. Default is 'quicksort'.
    order : str or list of str, optional
        When `a` is an array with fields defined, this argument specifies
        which fields to compare first, second, etc.  A single field can
        be specified as a string, and not all fields need be specified,
        but unspecified fields will still be used, in the order in which
        they come up in the dtype, to break ties.

    Returns
    -------
    sorted_array : ndarray
        Array of the same type and shape as `a`.

    See Also
    --------
    ndarray.sort : Method to sort an array in-place.
    argsort : Indirect sort.
    lexsort : Indirect stable sort on multiple keys.
    searchsorted : Find elements in a sorted array.
    partition : Partial sort.

    Notes
    -----
    The various sorting algorithms are characterized by their average speed,
    worst case performance, work space size, and whether they are stable. A
    stable sort keeps items with the same key in the same relative
    order. The three available algorithms have the following
    properties:

    =========== ======= ============= ============ ========
       kind      speed   worst case    work space   stable
    =========== ======= ============= ============ ========
    'quicksort'    1     O(n^2)            0          no
    'mergesort'    2     O(n*log(n))      ~n/2        yes
    'heapsort'     3     O(n*log(n))       0          no
    =========== ======= ============= ============ ========

    All the sort algorithms make temporary copies of the data when
    sorting along any but the last axis.  Consequently, sorting along
    the last axis is faster and uses less space than sorting along
    any other axis.

    The sort order for complex numbers is lexicographic. If both the real
    and imaginary parts are non-nan then the order is determined by the
    real parts except when they are equal, in which case the order is
    determined by the imaginary parts.

    Previous to numpy 1.4.0 sorting real and complex arrays containing nan
    values led to undefined behaviour. In numpy versions >= 1.4.0 nan
    values are sorted to the end. The extended sort order is:

      * Real: [R, nan]
      * Complex: [R + Rj, R + nanj, nan + Rj, nan + nanj]

    where R is a non-nan real value. Complex values with the same nan
    placements are sorted according to the non-nan part if it exists.
    Non-nan values are sorted as before.

    .. versionadded:: 1.12.0

    quicksort has been changed to an introsort which will switch
    heapsort when it does not make enough progress. This makes its
    worst case O(n*log(n)).

    'stable' automatically choses the best stable sorting algorithm
    for the data type being sorted. It is currently mapped to
    merge sort.

    Examples
    --------
    >>> a = np.array([[1,4],[3,1]])
    >>> np.sort(a)                # sort along the last axis
    array([[1, 4],
           [1, 3]])
    >>> np.sort(a, axis=None)     # sort the flattened array
    array([1, 1, 3, 4])
    >>> np.sort(a, axis=0)        # sort along the first axis
    array([[1, 1],
           [3, 4]])

    Use the `order` keyword to specify a field to use when sorting a
    structured array:

    >>> dtype = [('name', 'S10'), ('height', float), ('age', int)]
    >>> values = [('Arthur', 1.8, 41), ('Lancelot', 1.9, 38),
    ...           ('Galahad', 1.7, 38)]
    >>> a = np.array(values, dtype=dtype)       # create a structured array
    >>> np.sort(a, order='height')                        # doctest: +SKIP
    array([('Galahad', 1.7, 38), ('Arthur', 1.8, 41),
           ('Lancelot', 1.8999999999999999, 38)],
          dtype=[('name', '|S10'), ('height', '<f8'), ('age', '<i4')])

    Sort by age, then height if ages are equal:

    >>> np.sort(a, order=['age', 'height'])               # doctest: +SKIP
    array([('Galahad', 1.7, 38), ('Lancelot', 1.8999999999999999, 38),
           ('Arthur', 1.8, 41)],
          dtype=[('name', '|S10'), ('height', '<f8'), ('age', '<i4')])

In [28]:
def get_element(lst):
    new_lst = []
    for i in lst:
        new_lst.append(i**2)
        return lst[1]

get_element([1,7,3,5])

7

In [29]:
my_dict = {'peaches':'cream', 'cat':'dog', 'this one':'that one'}
my_dict

{'peaches': 'cream', 'cat': 'dog', 'this one': 'that one'}

In [30]:
help(pd.DataFrame.append)

Help on function append in module pandas.core.frame:

append(self, other, ignore_index=False, verify_integrity=False, sort=None)
    Append rows of `other` to the end of caller, returning a new object.

    Columns in `other` that are not in the caller are added as new columns.

    Parameters
    ----------
    other : DataFrame or Series/dict-like object, or list of these
        The data to append.
    ignore_index : boolean, default False
        If True, do not use the index labels.
    verify_integrity : boolean, default False
        If True, raise ValueError on creating index with duplicates.
    sort : boolean, default None
        Sort columns if the columns of `self` and `other` are not aligned.
        The default sorting is deprecated and will change to not-sorting
        in a future version of pandas. Explicitly pass ``sort=True`` to
        silence the warning and sort. Explicitly pass ``sort=False`` to
        silence the warning and not sort.

        .. versionadded:: 0.23.0

    Returns
    -------
    appended : DataFrame

    See Also
    --------
    pandas.concat : General function to concatenate DataFrame, Series
        or Panel objects.

    Notes
    -----
    If a list of dict/series is passed and the keys are all contained in
    the DataFrame's index, the order of the columns in the resulting
    DataFrame will be unchanged.

    Iteratively appending rows to a DataFrame can be more computationally
    intensive than a single concatenate. A better solution is to append
    those rows to a list and then concatenate the list with the original
    DataFrame all at once.

    Examples
    --------

    >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
    >>> df
       A  B
    0  1  2
    1  3  4
    >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
    >>> df.append(df2)
       A  B
    0  1  2
    1  3  4
    0  5  6
    1  7  8

    With `ignore_index` set to True:

    >>> df.append(df2, ignore_index=True)
       A  B
    0  1  2
    1  3  4
    2  5  6
    3  7  8

    The following, while not recommended methods for generating DataFrames,
    show two ways to generate a DataFrame from multiple data sources.

    Less efficient:

    >>> df = pd.DataFrame(columns=['A'])
    >>> for i in range(5):
    ...     df = df.append({'A': i}, ignore_index=True)
    >>> df
       A
    0  0
    1  1
    2  2
    3  3
    4  4

    More efficient:

    >>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
    ...           ignore_index=True)
       A
    0  0
    1  1
    2  2
    3  3
    4  4